{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "rewire",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ]
}
